.footer {
    padding: 6px;
    background-color: black;
    color: white;
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.footer__item{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.footer__text{
    color: rgb(147, 147, 60);
}

.footer h3 {
    margin-bottom: 4px;
}